/* importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Lato:wght@300;400&display=swap&family=Yellowtail&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
h {
    font-family: "Montserrat", sans-serif;
}

p, a, span, li, td, strong {
    font-family: "Roboto", sans-serif;
    font-weight: 300; /* ligera */
}
html{
    scroll-behavior: smooth;
}
/*ANIMACION GENERICA EASE IN */

.animar {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-in-out;
}

.animar.visible {
  opacity: 1;
  transform: translateY(0);
}


/* SECCION INICIO */
.inicio{
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.5)),
    url("img/Escritorio1_1compress.webp");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}
/* Botón hamburguesa */
.nav-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

/* Menú off-canvas */
.offcanvas-menu {
    position: fixed;
    top: 0;
    left: -250px; /* fuera de la pantalla */
    width: 250px;
    height: 100%;
    background-color: #ff7600;
    padding: 60px 20px;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1000;
}

.offcanvas-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Montserrat";
    
}

/* Menú activo */
.offcanvas-menu.active {
    left: 0;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 900;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
/* ****** */
.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion header .logo .color{
    color: #ff7600;
    font-family: "Yellowtail";
}
.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color: #ff7600;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}
.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #ff7600;
    border: 1px solid #ff7600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: #ff7600;
    box-shadow: 0 0 20px #fff;
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #ff7600;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}
/* estilos generales */
.titulo-seccion{
    font-family: "Yellowtail";
    font-size: 1.5rem;
}
/* SECCION SOBRE MI */
.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-seccion .especial{
    color: #ff7600;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .fila .col{
    width: 30%;
}
.sobremi .contenido-seccion .fila .col i{
    color: #ff7600;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #ff7600;
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
.sobremi .card {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}

.sombremi .bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.sobremi .blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/* SECCION HABILIDADES */
.habilidades {
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
                url("img/Pantalla1_1compress.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    overflow-x: hidden; /* evita overflow horizontal */
}

.habilidades .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}

.habilidades .titulo-seccion {
    margin-bottom: 20px;
    font-size: 2rem;
}

.habilidades h3 {
    margin-bottom: 40px;
}

/* Fila con dos columnas */
.habilidades .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Columnas */
.habilidades .col {
    flex: 1 1 45%; /* dos columnas ajustables */
    min-width: 250px; /* para evitar overflow en pantallas pequeñas */
}

/* Skill box */
.skill-box {
    background: rgba(0,0,0,0.3);
    padding: 12px 18px;
    border-radius: 7px;
    margin-bottom: 20px;
}

/* Título de habilidad */
.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

/* Barra de fondo */

.skill-bar {
  position: relative;
  height: 18px;
  width: 100%;
  border-radius: 6px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.skill-per {
  display: block;
  height: 100%;
  width: 0;
  border-radius: 6px;
  background: #ff7600;
  transition: width 1s ease-in-out;
}

.skill-per-number {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  min-width: 35px; /* espacio fijo para que no salte */
  text-align: right;
}

/* SECCION HABILIDADES MULTIMEDIA */
.habilidadesmultimedia {
    padding: 80px 0 100px 0;
    text-align: center;
    background: #030a1c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    overflow-x: hidden; /* evita overflow horizontal */
}

.habilidadesmultimedia .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}

.habilidadesmultimedia .titulo-seccion {
    margin-bottom: 20px;
    font-size: 2rem;
}

.habilidadesmultimedia h3 {
    margin-bottom: 40px;
}

/* Fila con dos columnas */
.habilidadesmultimedia .fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Columnas */
.habilidadesmultimedia .col {
    flex: 1 1 45%; /* dos columnas ajustables */
    min-width: 250px; /* para evitar overflow en pantallas pequeñas */
}

/* SECCION RESUMEN */
.resumen{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.resumen .contenido-seccion .info .col{
    width: 45%;
}
.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #ff7600;
    font-weight: bold;
    border: 2px solid #ff7600;
    padding: 10px;

}
.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}
.resumen .contenido-seccion .info .col table .promedio{
    display: block;
    color: #ff7600;
    margin-top: 10px;
    font-weight: bold;
}
.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}
/* SECCION CONTACTO */
.contacto{
    background-color: #030a1c;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    color: #ff7600;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:800px){
    .habilidades .contenido-seccion .fila{
        display: block;
    }
    .habilidades .contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .habilidades .contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    .sobremi .contenido-seccion .fila{
        display: block;
    }
    .sobremi .contenido-seccion .fila .col{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .resumen .contenido-seccion .info{
        display: block;
    }
    .resumen .contenido-seccion .info .col{
        width: 90%;
        margin: auto;
    }
    .resumen .contenido-seccion .info .col .titulo{
        display: block;
        text-align: center;
    }
    .resumen .contenido-seccion .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .contenido-seccion .fila{
        display: block;
    }
}